/*
Styling To Do List:
  • Make bg scroll?
  • Align design to illustration:
    • Center box so that it looks like the illustration.
    • Align h2 to be aligned with the input boxes.
*/
/*
Colors:
  • Green - #7fa66a
  • Blue - #a3cbff
  • Red - #ff8c75
*/

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
:root
{
    --accent-color: #7fa66a;
    --base-color: white;
    --text-color: black;
    --input-color: #7fa66a0c;
}
*
{
    margin: 0;
    padding: 0;
}
html
{
    font-family: Gill sans, sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}
body
{
    min-height: 100vh;
    background-image: url(images/green-bg.png);
    background-size: 150%;
    background-position: center;
    overflow: hidden;
}
.wrapper
{
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    width: max(30%, 450px);
    padding: 10px;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px #638253;
}
h1
{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}
h2
{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}
p
{
    font: inherit;
    margin-top: 10px;
    margin-bottom: -15px;
    font-style: italic;
    color: var(--accent-color);
}
form
{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div
{
    width: 100%;
    display: flex;
    justify-content: center;
}
form input
{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border: 2px solid var(--input-color);
    background-color: var(--input-color);
    transition: 200ms ease;
}
form input:hover
{
    border: 2px solid var(--accent-color);
}
form input:focus
{
    outline: none;
    border: 2px solid var(--accent-color);
}
form button
{
    margin-top: 10px;
    border: none;
    padding: 0.85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms ease;
}
form button:hover
{
    opacity: 75%;
}
form button:focus
{
    outline: none;
    opacity: 75%;
}
a
{
    text-decoration: none;
    color: var(--accent-color);
}
a:hover
{
    text-decoration: underline;
}
@media(max-width: 1100px)
{
    .wrapper
    {
        width: min(450px, 100%);
        border-radius: 0;
    }
}
form div.incorrect input
{
    border-color: black;
    font-style: italic;
    font-weight: 600;
}